@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 249 230;
  --foreground: 60 25 0;
  
  --muted: 251 245 226;
  --muted-foreground: 90 55 30;
  
  --popover: 255 249 230;
  --popover-foreground: 60 25 0;
  
  --card: 255 249 230;
  --card-foreground: 60 25 0;
  
  --border: 214 211 198;
  --input: 214 211 198;
  
  --primary: 139 69 19;
  --primary-foreground: 255 249 230;
  
  --secondary: 214 211 198;
  --secondary-foreground: 60 25 0;
  
  --accent: 214 211 198;
  --accent-foreground: 60 25 0;
  
  --destructive: 192 0 0;
  --destructive-foreground: 255 249 230;
  
  --ring: 139 69 19;
  
  --radius: 0.5rem;
}

body {
  background-color: #ffffff; /* 设置全局背景颜色为白色 */
}

@layer utilities {
    .bg-cream-100 {
        background-color: #f3e9e2; /* 示例颜色，您可以根据需要修改 */
    }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md transition-colors duration-200 ease-in-out;
  }
}
.container h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.container h2 {
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.container p {
  margin-bottom: 1em;
}

.container ol, .container ul {
  margin-left: 1.5em;
  margin-bottom: 1em;
}